body, h1, h2, p, a, button, header, nav, ul, li, article, img{
  margin: 0;
  padding: 0;
}

/* Set default font and color */
body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: beige;
  justify-content: space-between;
  /* display: flex; */
}

/* Add some spacing */
h1 {
  /* margin-bottom: 10px; */
  font-size: 36px;
  /* margin-left: 300px;   */
  display: flex;
}

h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

/* Style links */
a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Style buttons */
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

header {
  background-color: #127b53;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;

}

li {
  list-style-type: none;
  margin-right: 40px;
  /* padding-right: 20px; */
}

nav {
  display: flex;
  /* padding-bottom: 20px; */
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 200px; 
  margin-right: 200px; 
  
  /* align-items: end; */
  
}

ul {
  display: flex;
  margin-left: 300px;
  margin-top: 10px;
  /* text-align: right; */
}

article {
  height: auto;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* make text centered */
  text-align: center;

  
}

.imageArticle {
  /* size of image to be 200px width without distorting*/
  width: 500px;
  height: auto;
  /* margin-right: 20px; */
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
}

/* div{
  display: flex;
  flex-direction: column;
} */

.imageSmall {
  width: 80px;
  height: auto;
  /* margin-right: 20px; */
  margin-bottom: 20px;
}

aside {
  margin-left: -200px;
  width: 500px;
}

.aside {
  width: 50%;
}

footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #127b53;
  color: #fff;
  bottom: 0;
  width: 100%;
}

.logo {
  margin-left: 20px;
  width: 50px;
  height: auto;
}

.imageBig {
  height: auto;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

